/.git
.cpcache/
/.cpcache
/*.jar
/bin/launchpad
target/
/classes
/.clojure
/.dir-locals.el
node_modules
/.gradle
/build
/resources/private
/target-*
/deps.local.edn
*.log
/.nrepl-port
/.clj-kondo/.cache
/.lsp
/pom.xml