{:top-namespace "com.ozimos.workforce"
 :interface-ns "interface"
 :dialects ["clj" "cljs"]
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "^stable-.*"
                :release "^v[0-9].*"}
   :projects {"development" {:alias "devl"}
              "auth-service" {:alias "auth"}}
    :profiles {:default {:names ["org-rama" "frontend" "web"]}}
   :test {:setup-fn "com.ozimos.workforce.web.test-system/setup"
          :teardown-fn "com.ozimos.workforce.web.test-system/teardown"
          :create-test-runner
          [org.corfield.external-test-runner.interface/create]}}