{:mvn/repos {"clojars" {:url "https://clojars.org/repo/"}}
 :paths ["src/clojure" "resources"]
 :deps {ring/ring-jetty-adapter {:mvn/version "1.15.5"}
        ring/ring-core {:mvn/version "1.15.5"}
        metosin/reitit-ring {:mvn/version "0.9.0"}
        metosin/reitit-malli {:mvn/version "0.9.0"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        metosin/malli {:mvn/version "0.19.1"}
        integrant/integrant {:mvn/version "1.0.0"}
        com.wsscode/pathom3 {:mvn/version "2025.01.16-alpha"}}
 :aliases {:test {:extra-paths ["test/clojure"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}}}
