{:config-paths
 ["imports/babashka/fs"
  "imports/com.fulcrologic/fulcro"
  "imports/com.fulcrologic/guardrails"
  "imports/com.rpl/rama"
  "imports/com.wsscode"
  "imports/funcool"
  "imports/metosin/malli"
  "imports/rewrite-clj/rewrite-clj"
  "imports/taoensso/encore"]

 :lint-as
 {com.ozimos.workforce.frontend.defrc/defrc clojure.core/defn
  com.ozimos.workforce.frontend.defrc/defrouter-rc clojure.core/def}

 :linters
 {:unused-namespace
  {:level :warning}

  :unused-binding
  {:level :warning}

  :unused-import
  {:level :warning}

  :redundant-let
  {:level :warning}

  :redundant-str-call
  {:level :off}

  :conflicting-alias
  {:level :warning}

  :unresolved-var
  {:level :warning}

  :redundant-boolean-coercion
  {:level :off}

  :skip-comments true}}
