{:workforce/org-extension {}
 :workforce/org-resolvers {}

 :rama/cluster
 {:mode #profile {:dev :ipc :test :ipc :prod :cluster}
  :hosts #profile {:dev nil :test nil :prod ["localhost"]}
  :tasks #profile {:dev 4 :test 2 :prod 64}
  :threads #profile {:dev 2 :test 1 :prod 16}
  :extensions [#ig/ref :workforce/org-extension]}

 :token/encoder
 {:rsa-key-id "auth-template-key-1"}

 :token/decoder
 {:encoder #ig/ref :token/encoder
  :rama #ig/ref :rama/cluster}

 :security/app-context
 {:jwt-decoder #ig/ref :token/decoder
  :rama #ig/ref :rama/cluster}

 :cleanup/scheduler
 {:rama #ig/ref :rama/cluster
  :interval-ms 300000}

 :auth/policy
 {:verification-mode #profile {:dev :soft :test :soft :prod :strict}
  :auto-verify-social true}

 :com.ozimos.workforce.web.system/router
 {:rama #ig/ref :rama/cluster
  :token-encoder #ig/ref :token/encoder
  :token-decoder #ig/ref :token/decoder
  :policy #ig/ref :auth/policy
  :org-resolvers #ig/ref :workforce/org-resolvers}

 :adapter/jetty
 {:port #profile {:dev #or [#long #env JETTY_DEV_PORT 8080]
                  :test #or [#long #env JETTY_TEST_PORT 0]
                  :prod #or [#long #env JETTY_PROD_PORT 8080]}
  :host "0.0.0.0"
  :filter-chain-proxy #ig/ref :security/app-context
  :handler #ig/ref :com.ozimos.workforce.web.system/router}}
