{:paths ["src/clojure" "resources"]
 :deps {com.rpl/rama {:mvn/version "1.9.0"}
        com.rpl/rama-helpers {:mvn/version "0.10.0"}
        integrant/integrant {:mvn/version "1.0.0"}}
 :aliases {:test {:extra-paths ["test/clojure"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}}}
